h1 {
  color: navy;
  font-weight: bold;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
}

h2 {
  color: midnightblue;
  font-family: "PT Sans",sans-serif;
}

h3 {
 color: darkblue;
 font-family: "PT Sans",sans-serif;
}

body {
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    background: linear-gradient(-45deg, lightblue, lightcyan, lightskyblue, lightsteelblue);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

  }
  /*
      background-image: url('imgs/spaceback2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */

  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

p {
    font-size: 18px;
}

a:link {
    color:white
    
}

a:hover{
    color:white
}

  .rect {
    color: white;
    width: 150px;
    height: 40px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 15px;
    text-decoration: none;
  }

  .rect:hover {
    background-color: rgb(75, 75, 255);
  }